.product-detail {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

.product-detail h2 {
    margin-bottom: 1em;
    font-weight: bold;
}

.product-detail h4 {
    margin-top: 1em;
}

.product-detail-image {
    padding-left: 1%;
    max-width: 40%;
}

.product-description {
    font-size: 1.5rem;
    width: auto;
    text-align: justify;
    margin: auto;
}

.item-detail-container {
    margin-bottom: 5em;
}

.goToCart-btn {
    margin-right: 2em;
}

.detail-info {
    display: flex;
    flex-direction: column;
}
.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2em;
}
.goToCart-btn-container{
    display: flex;
}