.carousel-container {
    width: 100%;
    height: 20%;
}

.carousel-container h2 {
    background-color: #242423;
    color: #F5CB5C;
}

.banner {
    width: 100%;
    height: 55vh;
    object-fit: cover;
}