footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5em;
    margin-top: 10em;
}

.footer {
    background: #333533;
    height: 8em;
    position: relative;
    justify-content: center;
    bottom: 0%;
    border-top: 2px solid #c3bfbf;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    color: #F5CB5C;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 30%;
}

.icon {
    padding-left: 1em;
}